html {
  height: 100%;
}
body {
  height: 100%;
  &>header.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 3;
    font-size: 0;
    section.navbar-section {
      .navbar-brand {
        margin: 0 1rem;
      }
      nav {
        display: inline-block;
        a {
          margin: 0 1rem;
          &:not(.navbar-brand) {
            &:hover {
              font-weight: bold;
              color: #fff;
              background-color: lighten(rgb(236, 74, 148), 10%);
            }
            &.active {
              font-weight: bold;
              color: #fff;
              background-color: rgb(236, 74, 148);
            }
          }
        }
      }
    }
  }
  &>.container {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 62px 0 0;
  }
}
#aqi-indicator {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
  z-index: 3;
  font-size: 0;
  span {
    min-width: 50px;
    display: inline-block;
    text-align: center;
    font-size: 11px;
    padding: 4px 8px;
    &.good {
      background-color: #00FF00;
    }
    &.moderate {
      background-color: #FFFF00;
    }
    &.unhealthy-for-sensitive-groups {
      background-color: #EE7600;
      color: #fff;
    }
    &.unhealthy {
      background-color: #FF0000;
      color: #fff;
    }
    &.very-unhealthy {
      background-color: #800080;
      color: #fff;
    }
    &.hazardous {
      background-color: #FF34B3;
      color: #fff;
    }
  }
}
#map {
  width: 100%;
  height: 100%;
}