@import utils.MenuType
@(menuType: MenuType)
@isActiveMenu(m_type: MenuType) = @{
    if(m_type == menuType){ "active" }
}
<header class="navbar">
    <section class="navbar-section">
        <nav>
            <a href="@routes.HomeController.index()" class="navbar-brand btn btn-link">
                AQIkr
            </a>
            <a href="@routes.HomeController.map()" class="@isActiveMenu(utils.MenuType.MAP) btn btn-link">
                실시간 AQI
            </a>
        </nav>
    </section>
    @*<section class="navbar-section hide-md">*@
        @*<a href="#" class="btn btn-link">AQI란?</a>*@
    @*</section>*@
</header>
