@main("실시간 미세먼지 - AQIkr", utils.MenuType.MAP) {
    <div id="map">
        <div id="aqi-card">
            <span class="aqi-card-close"><i class="ion-close-circled"></i></span>
            <div class="station-name"></div>
            <div class="main-data">
                <div class="aqi"></div>
                <div class="text"></div>
            </div>
            <div style="clear: both;"></div>
            <div class="data-list">
                <div class="item pm25">
                    <div class="title">초미세먼지</div>
                    <div class="aqi"></div>
                    <div class="raw"><span class="value"></span><span class="unit">µg/m³</span></div>
                    <div class="text"></div>
                </div>
                <div class="item pm10">
                    <div class="title">미세먼지</div>
                    <div class="aqi"></div>
                    <div class="raw"><span class="value"></span><span class="unit">µg/m³</span></div>
                    <div class="text"></div>
                </div>
            </div>
            <div class="timestamp">
                <span class="title">
                    <i class="ion-clock"></i>
                    업데이트:
                </span>
                <span class="value"></span>
                |
                <span>자료제공: 한국환경공단</span>
            </div>
        </div>
        <span id="aqi-indicator">
            <span class="good">좋음</span>
            <span class="moderate">보통</span>
            <span class="unhealthy-for-sensitive-groups">민감한 사람에게 해로움</span>
            <span class="unhealthy">해로움</span>
            <span class="very-unhealthy">매우 해로움</span>
            <span class="hazardous">위험</span>
        </span>
    </div>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b6367fada8407f0815375caf595533ff"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/map.js")"></script>
    <script>
        jQuery(document).ready(function () {
            jQuery.get('/data', function(data) {
                renderData(data);
            });
        });
    </script>
}
