@(stations: List[Station], airRawDataList: List[AirRawData], menuType: utils.MenuType)
@main("실시간 미세먼지 - AQIkr", menuType) {
    <span id="aqi-indicator">
        <span class="good">좋음</span>
        <span class="moderate">보통</span>
        <span class="unhealthy-for-sensitive-groups">민감한 집단에게 해로움</span>
        <span class="unhealthy">해로움</span>
        <span class="very-unhealthy">매우 해로움</span>
        <span class="hazardous">위험</span>
    </span>
    <div id="map"></div>
    <script type="text/javascript" src="//apis.daum.net/maps/maps3.js?apikey=1e218ac71dc2e4ddede21fd356f08ec2"></script>
    <script>
            var mapContainer = document.getElementById('map'),
                    mapOption = {
                        center: new daum.maps.LatLng(37.5665, 126.9780),
                        level: 9
                    };

            var map = new daum.maps.Map(mapContainer, mapOption);

            var mapTypeControl = new daum.maps.MapTypeControl();

            map.addControl(mapTypeControl, daum.maps.ControlPosition.TOPRIGHT);

            var zoomControl = new daum.maps.ZoomControl();
            map.addControl(zoomControl, daum.maps.ControlPosition.RIGHT);


            @for(station <- stations) {
                @defining(station.parsePolygon()) { polygon =>
                    @if(polygon != null) {
                        var polygonPath = [
                            @for(xy <- polygon) {
                                new daum.maps.LatLng(@xy.getLeft, @xy.getRight),
                            }
                        ];

                        var polygon = new daum.maps.Polygon({
                            path:polygonPath,
                            strokeWeight: 1,
                            strokeColor: '#000',
                            strokeOpacity: 0.8,
                            strokeStyle: 'solid',
                            @if(menuType.equals(utils.MenuType.PM10)) {
                            fillColor: '@AirRawData.getColor(AirRawData.AQIPM10(AirRawData.getByStation(station, airRawDataList).pm10Value))',
                            } else {
                            fillColor: '@AirRawData.getColor(AirRawData.AQIPM25(AirRawData.getByStation(station, airRawDataList).pm25Value))',
                            }
                            fillOpacity: 0.5
                        });

                        polygon.setMap(map);

                        @defining(station.getCentralGeoCoordinate) { center =>
                            @if(menuType.equals(utils.MenuType.PM10)) {
                            var name = '@AirRawData.AQIPM10(AirRawData.getByStation(station, airRawDataList).pm10Value)';
                            } else {
                            var name = '@AirRawData.AQIPM25(AirRawData.getByStation(station, airRawDataList).pm25Value)';
                            }
                            var customOverlay = new daum.maps.CustomOverlay({
                                position: new daum.maps.LatLng(@center.getLeft, @center.getRight),
                                content: '<div class ="label"><span class="left"></span><span class="center">'+name+'</span><span class="right"></span></div>'
                            });

                            customOverlay.setMap(map);
                        }
                    }
                }
            }
            map.setZoomable(false);
    </script>

}
