@(menuType: utils.MenuType)
@main("실시간 미세먼지 - AQIkr", menuType) {
    <span id="aqi-indicator">
        <span class="good">좋음</span>
        <span class="moderate">보통</span>
        <span class="unhealthy-for-sensitive-groups">민감한 사람에게 해로움</span>
        <span class="unhealthy">해로움</span>
        <span class="very-unhealthy">매우 해로움</span>
        <span class="hazardous">위험</span>
    </span>
    <div id="map"></div>
    <script type="text/javascript" src="//apis.daum.net/maps/maps3.js?apikey=1e218ac71dc2e4ddede21fd356f08ec2"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/map.js")"></script>
    <script>
        var mode = '@menuType.name()';
        jQuery(document).ready(function () {
            jQuery.get('/data', function(data) {
                renderData(data, mode);
            });
        });
    </script>
}
