@import utils.DateTimeUtil
@import play.libs.Json
@import com.fasterxml.jackson.databind.JsonNode
@(stations: JsonNode, stationInfo: JsonNode, stationName: String, stationWeekly: List[StationWeekly])
@main("실시간 미세먼지 - AQIkr", null) {
    <div id="map" style="height: 200px;"></div>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b6367fada8407f0815375caf595533ff"></script>
    <script>
        var mapContainer = document.getElementById('map');
        var mapOption = {
            center: new daum.maps.LatLng(@stationInfo.get("list").get(0).get("dmX").asText(), @stationInfo.get("list").get(0).get("dmY").asText()),
            level: 9
        };
        var map = new daum.maps.Map(mapContainer, mapOption);
        var zoomControl = new daum.maps.ZoomControl();
        map.addControl(zoomControl, daum.maps.ControlPosition.RIGHT);
        map.setZoomable(false);

        var marker = new daum.maps.Marker({
            position: new daum.maps.LatLng(@stationInfo.get("list").get(0).get("dmX").asText(), @stationInfo.get("list").get(0).get("dmY").asText())
        });
        marker.setMap(map);
    </script>
    <div id="station-page">
        <div class="station-page-title">
            <span class="title">@stationName 측정소</span>
            <span>(@stationInfo.get("list").get(0).get("addr").asText())</span>
        </div>
        <div class="daily-card-list">
            @for(item <- stationWeekly) {
                <div class="daily-card">
                    <div class="day">
                        <div>@DateTimeUtil.getKoreanDayOfWeek(item.dateTime.getDayOfWeek)</div>
                        <small>@item.dateTime.getMonthOfYear/@item.dateTime.getDayOfMonth</small>
                    </div>
                    <div class="avg">
                        <span class="aqi-label @AirRawData.getLevel(AirRawData.AQIPM25(item.avgPM25))">
                            @AirRawData.AQIPM25(item.avgPM25).toInt
                        </span>
                    </div>
                </div>
            }
        </div>
        <canvas id="myChart" height="100"></canvas>
    </div>
    <script>
            var json = [];
            json = @Html(Json.stringify(stations));
            json.list = json.list.reverse();

            var label_list = [];
            var data_list = [];
            var color_list = [];

            for (var i = 0; i < json.list.length; i++) {
                label_list.push(json.list[i].dataTime);
                data_list.push(parseInt(json.list[i].pm25AQI));
                color_list.push(json.list[i].pm25Color);
            }

            label_list = label_list.slice(label_list.length-(24*7));
            data_list = data_list.slice(data_list.length-(24*7));
            color_list = color_list.slice(color_list.length-(24*7));

            var data = {
                labels: label_list,
                datasets: [
                    {
                        label: "AQI PM2.5",
                        backgroundColor: color_list,
                        data: data_list
                    }
                ]
            };

            var ctx = document.getElementById("myChart");

            var myChart = new Chart(ctx, {
                type: 'bar',
                data: data,
                options: {
                    responsive: true,
                    maintainAspectRatio: true,
                    scales: {
                        xAxes: [{
//                            display: false,
                            type: 'time',
                            time: {
                                unit: 'hour',
                                tooltipFormat: 'MM/DD HH:mm',
                                displayFormats: {
                                    hour: ' '
                                }
                            },
                            gridLines: {
                                color: "rgba(0, 0, 0, 0)",
                                zeroLineColor: "rgba(0, 0, 0, 0)"
                            },
                        }],
                        yAxes: [{
                            display: false,
                            gridLines: {
                                color: "rgba(0, 0, 0, 0)",
                                zeroLineColor: "rgba(0, 0, 0, 0)"
                            }
                        }]
                    },
                    legend:{
                        display: false
                    }
                }
            });

            Chart.defaults.global.defaultFontColor = "#fff";
    </script>
}
