@(stations: com.fasterxml.jackson.databind.JsonNode)
@import play.libs.Json;
@main("실시간 미세먼지 - AQIkr", utils.MenuType.TEST) {
    @partial._render_json(stations)
    <div id="map"></div>
    <script type="text/javascript" src="//apis.daum.net/maps/maps3.js?apikey=1e218ac71dc2e4ddede21fd356f08ec2"></script>
    <script>
            var mapContainer = document.getElementById('map');
            var mapOption = {
                center: new daum.maps.LatLng(37.5665, 126.9780),
                level: 9
            };
            var map = new daum.maps.Map(mapContainer, mapOption);
            var zoomControl = new daum.maps.ZoomControl();
            map.addControl(zoomControl, daum.maps.ControlPosition.RIGHT);
            map.setZoomable(false);

            var json = [];
            json = @Html(Json.stringify(stations));

            for(var i = 0; i<json.list.length; i++) {
                console.log(json.list[i]);
                var x = json.list[i].dmX;
                var y = json.list[i].dmY;
                var stationName = json.list[i].stationName;

//                var aqiLabel = new daum.maps.CustomOverlay({
//                    position: new daum.maps.LatLng(x, y),
//                    content: '<div class ="label">'+stationName+'</div>'
//                });
//                aqiLabel.setMap(map);

                jQuery.ajax({
                    url: "/color?stationName="+stationName,
                    type: "GET",
                    async: false,
                    success: function(result) {
                        console.log(result);
                        var aqiLabel = new daum.maps.CustomOverlay({
                            position: new daum.maps.LatLng(x, y),
                            content: '<div class ="label" style="background-color: '+result.color+'">'+stationName+'</div>'
                        });
                        aqiLabel.setMap(map);
                    },
                    beforeSend:function(){
                    },
                    complete:function(){
                    }
                });
            }
    </script>
}